*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}
header{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: mediumvioletred;
    min-height: 6vh;
}
.marca{
    display: flex;
    align-self: center;
    margin-left: 2vw;
}
.logo{
   height: 3vh;
   width: auto;
   margin-right: 2vh;
}
.login{
    margin-right: 2vw;  
    align-self: center;
}   
.login button{
    font-size: 1.5vh;
    width: 2.5vw;
}
main{
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
   
    min-height: 85vh;
   
}  
aside{
    grid-row: 1/2;
    padding: 1vw;
    background-color: #f2d0e0;
    
}
.menu-lateral{
    display: flex; 
}
li {
    list-style-type: none;
    text-decoration: none;
    
}
.icons{
    margin-right: 2vw;
  
}
.menu-lateral p{
    color: black;
    font-size: 18px;
    
    
}
tr td{
    height: 4vh;
}
tr td:first-child + td{
    width: 17vw;
}

.icons{
    width: 1vw;
    height: auto;
    
}
.seta{
    width: 1vw;
    height: auto;
} 

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1vh; 
  
}
.encarte{
    
    padding: 1vh;
}
.card{
    box-shadow:2px 2px 1px 1px darkgray;
    
  
}
.foto{
    width: 100%;
    height: 90%;
    
}
section h2{
    text-align: center;
    margin: 1vh 0;
    font-size: 3vh;
}
section p{
    font-size: 2.3vh;
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;

    
}
footer{
    min-width: 100%;
    display: flex;
    background-color: lightblue;
    min-height: 5vh;
    background-color: mediumvioletred;
   
}











