
*{
   margin: 0;
   padding: 0; 
}
body{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
header{
    height: 7vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.header-fixed{
    height: 7vh;
    width: 100%;
    position: fixed;
    background-color: rgb(0,0,0,.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 2;
}
.header-fixed img{
    height: 55px;
    max-height: 7vh;
}

.header-fixed form{
    margin-right: 100px;
    color: white;
    display: flex;
    align-items: center;
    
}
.header-fixed input{
    width: 400px;
    height: 25px;
    max-height: 7vh;
    max-width: 25vw;
    color: white;
    background-color:rgb(73, 70, 70);
    border-style:solid;
    border-color: red;
    border-width: 1px;
   
    
}
.header-fixed button{
    width: 100px;
    height: 25px;
    max-height: 7vh;
    max-width: 5vw;
    font-size: 1vw;
    margin-left: 5px;
    color: white;
    font-style: bold;
    background-color: rgb(73,70,70);
    border-style: solid;
    border-color: red;
    border-width: 1px; 
   
}
.header-fixed button:hover{
    color: red;

}
.header-fixed button:active{
    background-color: black;
}

.home {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 80px; 
    background-color: rgb(0,0,0,.9);
}
.home section{
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    
    justify-items: center;
}
.previa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px 0;
    text-decoration: none;   
}
.previa img{
    width: 100px;
    filter: opacity(.7);
    margin-top:-20px;
    position: absolute;
    align-self: center;
    z-index: 1;
    display: none;
    
}
.previa:hover{
    transform: scale(1.05);
}
.previa:hover img{
    display: block;  
}

.previa video {
    width: 100%;
    height: 100%;
}
 .previa a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    background-color:rgb(255,0,0,.4); ;
    
}
.previa a h2{
    padding-left: 10px;
    font-size: 18px;
    height: 50px;
    color: rgb(255, 255, 255);
    width: 100%;
    max-height: 5vh;
    
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
    height: 7vh;
    color: white;
    padding:0 5vw ;
}
footer p, a{
    color: white;
    font-size: 18px;
    align-self: center;
    text-decoration: none;
}
footer a{
    margin: 0 25px;
}
footer a:hover{
    color: red;
}
.video-page{
    background-color: rgb(0,0,0,.8); 
    width: 100vw;
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.video-page video{
    width: 1000px;
    max-width: 100vw;
       
}
.player{
    padding-left: 60px;
    padding-top: 50px;
    width: 1000px;
    max-width: 100vw;
    margin-bottom: 75px;
    

}
.subtitulo{
    display: flex;
   align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: rgb(255,255,255,0.7);
    width: 100%;
    margin-top: -10px;
    

}
.links{
    display: flex;
    
}
.subtitulo a{
    color: black;
   
}
.subtitulo a:hover{
    color: rgb(255,0,0,.7);
   
}
.icones{
    display: flex;
    align-items: center;
}
.icones img{
    width: 20px;
    margin: 0 20px 0 10px
}
.barra-lateral{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(2,1fr);
    padding: 50px 60px 75px 60px;
    
    
    
}
.barra-lateral div{
   padding: 5px;
}
.barra-lateral div video{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    filter: brightness(.8);
    box-shadow: 3px 3px rgb(0, 0, 0) 
}

@media screen and (max-device-width:480px){
    .previa{
        margin: 0;
    }
    .header-fixed input{
        margin-right: 3vw;
    }
   .home{
       display: flex;

   }
   .home section{
       display: flex;
       flex-direction: column;
   }
   .home section .previa:hover{
    transform: none;
}
.home section .previa:hover img{
    display: none;
}
body{
    max-width: 100vw;
}

.video-page{
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.video-page .player{
    margin: 0;
    width: 100%;
    height: auto;
    padding-top:10px;
    padding-left: 5px;
    padding-right: 5px;
}
.video-page video{
   max-width: 100%;
}
.subtitulo h2{
    transform: scale(.8);
}
.icones p{
    display: none;
}
.barra-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    transform: scale(.5);
    margin: 10px;
}
.contato{
    display: flex;
}
.contato a{
    transform: scale(.5);
    margin: 10px;
}
}
@media screen and (max-width: 769px){
    .previa{
        margin: 0;
    }
    .header-fixed input{
        margin-right: 3vw;
    }
    .header-fixed{
        width: 100%;
    }
    .home{
        display: flex;
        max-width: 100%;
    }
    .home section{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr); 
    }
    
    .previa img{
        width: 50px;
    }
    .home section .previa:hover{
        transform: none;
    }
    .header-fixed button{
        display: none;
    }
    body{
        max-width: 100vw;
    }
    
    .video-page{
        margin: 0;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .video-page .player{
        margin: 0;
        width: 100%;
        height: auto;
        padding-top:10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .video-page video{
       max-width: 100%;
    }
    .subtitulo h2{
        transform: scale(.8);
    }
    .icones p{
        display: none;
    }
    .barra-lateral{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer p {
        transform: scale(.5);
        margin: 10px;
    }
    .contato{
        display: flex;
    }
    .contato a{
        transform: scale(.5);
        margin: 10px;
    }
}