*{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}
#back{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(30%);
    z-index: -1;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
header{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
   
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0;
        

}
#open-space a{
    font-size: 3.5rem;
    color: rgb(8, 8, 8);
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(4, 255, 242);
    margin-bottom: 0;
    
}

nav ul{
    
    display: flex;
    list-style-type: none;
       
}
nav ul li{
    margin: 0 20px;
    font-size: 1.2rem;
   
    
}
nav ul li a{
    color:rgb(4, 255, 242);
   
    
}
main{
    margin-top: 0;
    
}
h3{
    font-size: 0.9rem;
    margin-left: 40px;
    color:rgb(4, 255, 242);
}
.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
   
}

.highlights li{
    display: flex;
    margin: 0;
    padding: 0;
   
   
    
}
.highlights li img{
   
    border-style: solid;
    border-color: rgb(4, 255, 242);
    margin: 1rem;
    border-style: solid;
    border-radius: 5rem;
    background-color: rgba(68, 68, 68, 0.3);
    
} 
.left{
    width: 17rem;
    height: 17rem;
} 
.right{
    width: 17rem;
    height: 17rem;
    
    z-index:-1
} 
.center{
    width: 23rem;
    height: 23rem;
} 
.slogan{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(68, 68, 68, 0.3);
    min-height: 150px;
}
.slogan p{
    font-size: 1.2rem;
    color: rgb(4, 255, 242);
}
.slogan p b{
    color: rgb(4, 255, 242);
}
.market{
    margin-left: 50px;
    padding-left: 25px;
    width: 15rem;
    height: 3rem;
    
    font-size: 2rem;
    font-style: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(4, 255, 242); 
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
}
footer h2{
    color: rgb(4, 255, 242);
    margin: 0;
    margin-top: 2rem;
    margin-left: 4rem;
}
footer ul{
    
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 1.5rem;
    
}

.social{
    margin-left: 2rem;
    width: 25px;
    height: 25px;
}
.control{
    margin: 25rem;
    margin-bottom: 0;
    margin-top: 3rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 68, 68, 0.3);
}
.control h2{
    display: flex;
    align-items: center;
    
    font-size: 2rem;
    color: rgb(8, 8, 8);
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(4, 255, 242);
    margin-bottom: 0;
    margin: 0;
   
    
}
.control .content-table th{
    font-size: 1rem;
    color: rgb(4, 255, 242);
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.content-table td{
    font-size: 1.1;
    color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;  
}
td{
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    max-width: 700px;
    width: 100%;
    
}
tbody{
    
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin: 5rem;
    display: flex;
    justify-content: center;
}
main h2{
    color: rgb(4, 255, 242);
}
main form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(68, 68, 68, 0.3); 
    font-size: 1rem;
    color: rgb(4, 255, 242);
    max-width: 40%;
    margin-left: 25rem;
}   
.imput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}